.expandable{
	width: 100%;
    height: 65px;
	position: fixed;
	display: flex;
	align-items: center;
    padding: 0 100px;
	background: white;
    z-index: 50;
    animation-duration: 1s;
    animation-name: slider;
 }

.logo img {
  max-width: 120px;
  max-height: 65px;
}

.bell {
    font-size: 20px;
    color: darkgrey;
    margin-right: 30px;
}

.bell:hover {
    color: grey;
    cursor: pointer;
}

.round {
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 50%;
    position: relative;
}

.round:hover {
    background-color: darkorange;
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: calc(100% - 240px);
}

.dropdown-menu {
    width: 140px;
    height: 170px;
    visibility: hidden;
    position: absolute;
    top: 43px;
    right: 0;
    background-color: white;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.round:hover .dropdown-menu {
    visibility: visible;
}

.dropdown-menu-user {
    font-size: 12px;
    color: grey;
    margin: 5px 10px 0px 10px;
    padding-bottom: 5px;
    border-bottom: thin solid grey;
}

.dropdown-menu-item {
    color: black;
    font-size: 16px;
    text-align: left;
    margin: 5px 10px 0px 10px;
    padding: 5px 2px;
}

.dropdown-menu-item:last-child {
    margin-bottom: 2px;
}

.dropdown-menu-item:hover {
    background-color: lightgrey;
}

@keyframes slider {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
