.message {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    z-index: 50;
    pointer-events: none;
}

.messages-container {
    display: flex;
    flex-direction: column;
}

.message-item {
    width: 198px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.error {
    background-color: rgba(156, 44, 44, 0.75);
}

.success {
    background-color: rgba(105, 170, 105, 0.75);
}

.warning {
    background-color: rgba(250, 160, 70, 0.75);
}

.message-icon {
    font-size: 20px;
    margin-right: 20px;
    color: white;
}

.message-header {
    color: white;
    font-weight: 600;
}

.message-text {
    color: white;
     font-weight: 400;
}