@media screen and (max-width: 972px) {
    #tile-media{
        height: 700px;
        grid-template-columns: 5fr 1fr 3fr 3fr;
        grid-template-rows: 1fr 1fr .7fr 1fr 1fr;
    }
    .binary {
        grid-area: 1/2/4/1;
    }
    .js {
        grid-area: 1/4/4/2;
    }
    .events {
        grid-area: 1/5/2/4;
    }
    .blog {
        grid-area: 2/5/3/4;
    }
   
    .contacts {
        grid-area: 3/5/4/4;
    }
    .contacts-content-icon {
        font-size: 1.7rem;
    }
    .java {
        grid-area: 4/3/5/1;
    }
    .php {
        grid-area: 4/5/5/3;
    }
    .qa {
        grid-area: 5/3/6/1;
        
    }
    .dotnet {
        grid-area: 5/5/6/3;
    }
    
}