*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body, html{
	background-color: lightgrey;
	font-family: Sailec-Medium,sans-serif;
}

.footer {
	text-align: center;
    position: relative;
    bottom: 0;
}	
.help {
	height: 5vh;
}		