
.layout {
	grid-area: 2/2/3/1;
    background: lightgrey;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.tiles{
    max-width: 1300px;
    width: 100%;
    padding: 0 50px;
    display: flex;   
}

.tile {
    height: 35vw;
    flex: 1 1 auto;
    background: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, 12.5%);
    grid-template-rows: repeat(auto-fill, 12.5%);
}

.binary {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.binary-tile-front {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}

.binary-logo-wrapper {	
    width: 50%;
    height: 50%;
}

.binary-logo {
    width: 100%;
    height: 100%;
}

.binary-tile-back {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join {
    cursor: pointer;
    padding: .5rem 2rem;
    font-size: 18px;
    border-radius: 3px;
    color: white;
    background: #00ADEE;
    outline: none;
    border-style: none;
}

.join:hover {
    background: blue;
}

.qa {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}

.turn-around-tile {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;
}

.turn-around-tile-item {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
    backface-visibility: hidden;
}

.qa-tile-front {
    font-size: 6vw;
    background: #55b977;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qa-tile-back {
    background: white;
    padding: 1.5rem;
    font-size: 24px;
    font-weight: bold;
    overflow: auto;
}

.turn-around-tile-back{
    transform: rotateY(180deg);
}

.turn-around-tile:hover .turn-around-tile-front {
    transform: rotateY(180deg);
}

.turn-around-tile:hover .turn-around-tile-back {
    transform: rotateY(360deg);
}

.js {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}

.js-tile-front {
    font-size: 6vw;
    padding-right: .5rem;
    font-weight: bold;
    background: #f0c86a;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.js-tile-back {
    background: white;
    overflow: auto;
    padding: 1.5rem;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.java {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}

.slide-down-tile {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.java-tile-front {
    z-index: 1;
    color: white;
    font-size: 3vw;
    font-weight: 500;
    background: #cf2c47;
}

.java-tile-back {
    background: white;
    padding: 1.5rem;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.slide-down-tile:hover>.java-tile-front {
    transform: translateY(100%);
}

.dotnet {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 9;
}

.resize-tile {
    position: relative;
    width: 100%;
    height: 100%;
}

.resize-tile-front {
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    z-index: 1;
}

.right-down-corner-tile-dotnet {
    color: white;
    background: #5c236d;
    transform-origin: bottom right;
}

.resize-tile-back {
    overflow: auto;
    background: white;
    padding: 1.5rem;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
} 

.resize-tile:hover>.resize-tile-front {
    transform: scale(0);
}


.php {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.resize-tile-php {
    font-style: italic;
    color: #000;
    background: #8690be;
    transform-origin: top right;
}

.small-tile {
    position: relative;
}

.events {
    overflow: hidden;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.tile-title {
    z-index: 1;
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-content {
    padding: 1rem;
    overflow-y: auto;
    font-size: 15px;
    background: white;
}

.tile-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.events-title {
    background: #348cf0;
    color: white;
    font-size: 1vw;
    font-weight: 500;
}

.events-content{
    overflow-y: scroll;
}

.events:hover>.events-title{
    transform: translateX(100%);
}

.blog {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
    overflow: hidden;

}

.blog-title {
    color: white;
    font-size: 1vw;
    font-weight: 500;
    background: #0a398a;
}

.blog-content {
    height: 100%;
    background: white;
    font-size: 13px;
}

.blog:hover>.blog-title {
    transform: translateX(100%);
}

.contacts {
    position: relative;
    overflow: hidden;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
}

.contacts-title {
    color: white;
    font-size: 1vw;
    font-weight: 500;
    background: #062150;
}
.contacts:hover > .contacts-title {
    transform: translateX(100%);
}

.contacts-content {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.contacts-content-icon {
    font-size: 1.7rem;
    cursor: pointer;
    margin: .2rem;

}

.contacts-content-icon:hover {
    color: #348cf0;;
}
